@import "../utils/variables";
@import "../utils/mixing";
@import "../base/reset";



@media (max-width: 480px) {
    .card {
        min-width: 250px;
        max-width: 250px;
        padding: 15px;
    }

    .nav-btn {
        font-size: 1.2rem;
    }
}