@import "../utils/variables";
@import "../utils/mixing";
@import "../base/reset";

.primary-btn {
  padding: 10px 16px;
  background-color: $accent-brand;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: $base-white;
  border-radius: 7px;
}
.primary-btn.gray{
  background-color: $background-secondary !important;
}
.primary-btn.white{
  background-color: $base-white !important;
  color: $accent-brand !important;
}
.primary-btn.mob{
  width: auto !important;
  right: 80px !important;
  width: 90px;
}
a {
  font-family: $second-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $text-icon-secondary;
}
.active{
  color: $base-white !important;
}
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: $accent-brand;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#backToTopBtn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.tutun {
  position: absolute;
  width: 3px;
  height: 3px;
  background: $accent-brand;
  border-radius: 100%;
  pointer-events: none;
  filter: blur(8px);
  opacity: 0.9;
  transition: transform 0.3s, opacity 0.5s;
  z-index: 100;
}