@import "../utils/variables";
@import "../utils/mixing";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
}
body {
  background-color: $background-primary;
  color: $text-icon-secondary;
  font-family: $font-family;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
