@import "../utils/variables";
@import "../utils/mixing";
@import "../base/reset";


// .hero-content-funded {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content:center;
//     gap: 40px;
//     .funded-hero_check {
//         display: flex;
//         align-items: center;    
//         position: absolute;
//         top: 400px;
//         left: 50px;
//     }
//     .funded-hero_nav {
//         display: flex;
//         justify-content: start;
//         align-items: start;
//         gap: 40px;
//         position: relative;
//         left: -250px;
//         button {
//             font-size: 14px;
//             font-weight: 600;
//             color: $base-white;
//             border: none;
//             background-color: $border-subtle;
//             padding: 8px 16px;
//             border-radius: 4px;
//             cursor: pointer;
//         }

//         ul {
//             display: flex;
//             gap: 24px;
//             list-style-type: none;

//             li {
//                 font-size: 16px;
//                 font-weight: 600;
//                 color: $text-icon-secondary;
//                 text-decoration: none;
//                 cursor: pointer;
//                 font-family: $second-family;
//             }
//         }
//     }
// }


.hero-funded {
    width: 100%;
    height: 400px;
    background-image: url(../../assets/images/Grid\ -\ Top.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    @media (max-width: 320px) {
        height: 300px; /* Balandlikni moslashtirish */
        background-position: top; /* Fon pozitsiyasini o'zgartirish */
    }
}

.hero-content-funded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    max-width: 1320px;
    padding-left: 40px;

    h1 {
        font-size: 24px;
        font-weight: bold;
        color: $base-black;
        text-align: center;
        margin: 0;
        @media (max-width: 320px) {
            font-size: 20px;
        }
    }

    .funded-hero_nav {
        display: flex;
        align-items: center;
        gap: 24px;

        button {
            font-size: 14px;
            font-weight: 600;
            color: $base-white;
            border: none;
            background-color: $border-subtle;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($border-subtle, 10%);
            }

            @media (max-width: 320px) {
                font-size: 12px;
                padding: 6px 12px;
            }
        }

        ul {
            display: flex;
            gap: 25px;
            list-style-type: none;
            padding: 0;
            margin: 0;


            @media (max-width: 320px) {
                flex-wrap: nowrap;
                overflow-x: hidden;
                gap: 10px;
            }
            li {
                font-size: 14px;
                font-weight: 600;
                color: $text-icon-secondary;
                font-family: $second-family;
                cursor: pointer;
                text-align: center;
                transition: all 0.3s ease;

                &:hover {
                    color: lighten($text-icon-secondary, 10%);
                    transform: scale(1.1);
                }

                @media (max-width: 320px) {
                    font-size: 12px;
                }
            }
        }
    }

    .funded-hero_check {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 10px;
        @media (max-width: 320px) {
            gap: 5px;
        }
        .form-check {
            display: flex;
            align-items: center;

            .form-check-label {
                font-size: 14px;
                font-weight: 500;
                color: $text-icon-secondary;
                margin-left: 8px;
                cursor: pointer;

                @media (max-width: 320px) {
                    font-size: 12px;
                }
            }
        }
    }
}

.funded-cards {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 auto;


    @media (max-width: 320px) {
        justify-content: center;
    }
    .funded-cards_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .funded-cards_wrapper {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            transition: all 0.3s ease;

            @media (max-width: 320px) {
                gap: 10px;
            }
            .card {
                background-color: $background-secondary;
                padding: 15px;
                border-radius: 16px;
                width: 380px;
                height: 500px;
                display: flex;
                flex-wrap: wrap;

                @media (max-width: 320px) {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: start;
                    width: 300px;
                    height: 440px;
                    padding: 10px; 
                }
            }

        }
    }

    h3 {
        font-size: 18px;
        font-family: $second-family;
        font-weight: 400;
        color: $text-icon-tertiary;

        @media (max-width: 320px) {
            text-align: start;
            font-size: 16px; 
        }
    }

    h2 {
        font-weight: 500;
        color: $base-white;
        font-size: 30px;

        @media (max-width: 320px) {
            font-size: 24px;
            text-align: start;
        }
    }

    b {
        font-size: 16px;
        font-weight: 100;
        color: $text-icon-tertiary;
        font-family: $second-family;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        color: $base-white;
        font-family: $font-family;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 20px;
        letter-spacing: 1.1%;
        @media (max-width: 320px) {
            font-size: 14px; 
            line-height: 18px; 
        }
    }
    h3, h2, b, p {
        @media (max-width: 320px) {
            text-align: start;
        }
    }
    .avatars img {
        width: 90px;
        height: 40px;
        position: absolute;
        left: 20px;
        bottom: 25px;
        @media (max-width: 320px) {
            // width: 60px;
            // height: 40px;
        }
      }
    .nothing {
        height: 150px;
        width: 100%;
        border-radius: 16px;
        background-color: #232334;

        @media (max-width: 320px) {
            height: 100px; /* Element balandligini qisqartirish */
        }
    }
}
