$font-family: "Poppins", sans-serif;
$second-family: "Space Mono", monospace;
$third-family: "Nanum Pen Script", cursive;

$base-white: #fff;
$base-black: #1c1c28;
$accent-brand: #6966ff;
$accent-brand-hover: #6c83ff;
$accent-red: #e45555;
$accent-green: #16b57f;
$background-primary: #1c1c28;
$background-secondary: #393953;
$background-secondary-hover: #4f4c64;
$text-icon-primary: #fff;
$text-icon-secondary: #c8c7d8;
$text-icon-tertiary: #a59eba;
$border-subtle: #393953;